
.board-wrap{
  
}
table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 15px;
}

td{
  display: table-cell;
  padding: 5px;
  table-layout: fixed
}
.board-head{
  height: 30px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.board-post{
  width: 100%;
  text-align: center;
  box-sizing: content-box;
  border-top: 1px solid rgb(206, 198, 198);
}

.board-post .title{
  text-align: left;
}