a{
  color: black;
  cursor: pointer;
}
.left-menu{
  width: 100%;
  border-bottom: none;
  color: black;
  font-size: 15px;
  text-align: left;
}
.menuTitle {
  font-weight: bold;
  padding: 10px;
  border-top: 2px solid red;
}
.job-menu-list{

}

.job-menu-item {
  padding: 5px;
  border-top: 1px solid rgb(206, 198, 198);
}

.menu-item {
  padding: 5px;
  border-top: 1px solid rgb(206, 198, 198);
  cursor: pointer;
}